{% extends "base.html" %}

{% block title %}Assessment Detail{% endblock %}
{% block page_title %}{{ assessment.address }}{% endblock %}

{% block content %}
  <a href="{{ url('construction.assessment_list') }}">Back to list</a>
  <dl>
    <dt>Damage Assessment</dt>
    <dd>{{ assessment.damage_assessment }}</dd>

    <dt>Permits Required</dt>
    <dd>{{ assessment.permits_required|yesno }}</dd>

    {% if assessment.permits_required %}
      <dt>Permits</dt>
      <dd>{{ assessment.permits }}</dd>
    {% endif %}

    <dt>Notes</dt>
    <dd>{{ assessment.notes|orNA }}</dd>

    {% for step in assessment.workstep_set.all() %}
      <dt>{{ step.work_type }}</dt>
      <dd>
        <dl>
          <dt>Scope</dt>
          <dd>{{ step.get_scope_display() }}</dd>

          <dt>Description</dt>
          <dd>{{ step.description }}</dd>

          <dt>Time Required</dt>
          <dd>{{ step.time_required }} {{ step.work_type.get_unit_display() }}</dd>

          <dt>Permits Required?</dt>
          <dd>{{ step.permit|yesno }}</dd>

          <dt>Start Date</dt>
          <dd>{{ step.start_date|orNA }}</dd>

          <dt>End Date</dt>
          <dd>{{ step.end_date|orNA }}</dd>

          <dt>Progress</dt>
          <dd>{{ step.get_progress_display() }}</dd>
        </dl>
      </dd>
    {% endfor %}
  </dl>
{% endblock %}
